process {
  cpus = 8
  memory = '16 GB'
  time = '2h'
}

process {
  withName:get_family {
    conda = './environment.yml'
  }
  withName:download_pdbs {
    conda = './environment.yml'
  }
  withName:parse_mutations {
    conda = './environment.yml'
  }
  withName:pfmi3dsc_score {
    conda = './environment.yml'
  }
  withName:summarize_results {
    conda = './environment.yml'
  }
}

conda {
  enabled = true
  autoActivate = true
}

params {
  outdir = 'results'
}
